.flip-card-wrapper{
  background-color: #9b9ea6;
  height: 100vh;

}

a{
  text-decoration: none;
}
.flip-card{
  width: 340px;
  height: 340px;
  cursor: pointer;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);

  &:hover{
    .front{
      transform: perspective(600px) rotateY(-180deg);
    }
    .back{
      transform: perspective(600px) rotateY(0);
    }
  }
}
.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  transition: transform .5s ease;
  border-radius: 10px;
}

.front{
  transform: perspective(600px) rotateY(0);
  img{
    width: 100%;
    height: auto;
  }
}

.back{
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: perspective(600px) rotateY(-180deg);
  h1{
    span{
      font-size: 18px;
      display: block;
      font-weight: 300;
      margin: 5px 0 10px;
    }
  }
  .socials{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    a{
      color: #444;
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 22px;
      transition: .4s ease;
      &:hover{
        background-color: #444;
        color: #FFF;
      }
    }
  }
}